body{
    margin: 0%;
    padding: 0%;
}

.banner-section{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.banner-left-side{
    /* background-color: aquamarine; */
    width: 50%;
    padding-left: 20px;
}

h3{
    color: chocolate;
    font-size: 25px;
}

p{
    font-size: 20px;
    padding-bottom: 20px;
}

.button{
    color: white;
    font-size: 22px;
    background-color: coral;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 30px;
}

.banner-right-side{
    /* background-color: cadetblue; */
    width: 50%;
    height: 500px;
}

.banner-right-side img{
    width: 80%;
    height: 100%;
    padding: 10px;
}

/* ------------- */

.dreamBig-section{
    display: flex;
    margin: 10px 30px;
}

.dreamBid-left-side{
    width: 50%;
    /* background-color: rgb(57, 128, 104); */
}

.dreamBid-left-side img{
    width: 100%;
    height: 100%;
}

.dreamBid-right-side{
    width: 50%;
    /* background-color: blueviolet; */
    padding-left: 30px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}

.dreamBid-right-side h1{
    font-size: 50px;
}

/* ----------------------- */